
<div class="conatainer">
  <h1>Vending Machine</h1>
</div>
<div>
  <p>First add amount</p>
  <button class="btn btn-danger" id="one" (click)="total(1)">Rs 1</button>&nbsp;
  <button class="btn btn-primary" id="one" (click)="total(5)">Rs 5</button>&nbsp;
  <button class="btn btn-success" id="one" (click)="total(10)">Rs 10</button>&nbsp;
  <button class="btn btn-warning" id="one" (click)="total(25)">Rs 25</button>&nbsp;
  <button class="btn btn-success" id="clear" (click)="clear()">Cancel</button>&nbsp;
  <br>
  <hr>
<p style="font-size:25px;font-weight:400">Total Amount : {{value}}</p>
</div>
<div>
  <p>Click on the item you want to dispense</p>
  <button class="btn btn-success" (click)="dispenseCoke()">Coke(25)</button> Remaining - {{itemsCount.coke}}<br><br>
  <button class="btn btn-success" (click)="dispensePepsi()">Pepsi(32)</button> Remaining - {{itemsCount.pepsi}}<br><br>
  <button class="btn btn-success" (click)="dispenseSoda()">Soda(47)</button> Remaining - {{itemsCount.soda }}<br><br>
</div>
<br>
<hr>
<div>
  <button class="btn btn-dark" (click)="resetCount()">RESET</button>&nbsp;
  <button class="btn btn-dark" (click)="isShown=!isShown">UPDATE</button>
  <div *ngIf="isShown">
    <p>Enter the supplies you want to add</p>
    Coke: <input type="number" placeholder="enter count" #coke required/><br>
    Pepsi: <input type="number" placeholder="enter count" #pepsi required/><br>
    Soda: <input type="number" placeholder="enter count" #soda required/>
    <button (click)="updateSupplies(coke,pepsi,soda)">Done</button>
  </div>
</div>